name: Update Playlists

on:
  schedule:
    - cron: '0 */12 * * *' # Every 12 hours
  workflow_dispatch: # Manual trigger

permissions:
  contents: write

jobs:
  update-m3u:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        
    - name: Generate M3U Playlists
      run: python generate_m3u.py
      
    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add starshare_live.m3u starshare_movies.m3u starshare_series.m3u
        git commit -m "Update playlists $(date)" || echo "No changes to commit"
        git push
